.site-background {
    background-color: black;
}

.canvas {
    display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        min-height: 90vh;
        border: 5px solid red;
}

.tier-one-bubble {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: 3.0s ease-in-out infinite infinite-bob;
    &:hover {
        animation-play-state:paused;
        -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
        p {
            opacity: 1;
            transform: translateY(-70px);
        }
        img {
            max-height: 150px;
            transform: translateY(-45px);
        }
    }
}

.container {
    position: "relative";
    width: "100%";
    height: "100%";
    overflow: "hidden";
}

.bubble-link:hover {
    transform: scale(1.1) perspective(1px);
    text-decoration: none;
}

.bubble-link:active {
    transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  text-decoration: none;
}

.bubble-link:visited {
  text-decoration: none;
  color: inherit;
}

.bubble-link{
    transition: all .5s ease-in-out;
    transform: scale(1);
    text-decoration: none;
    position: absolute;
}

.project-bubble-name {
    margin: 10px auto auto auto;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
}

.icon {
    max-height: 170px; 
    max-width: 280px;
    margin-top: 25%;
    margin-bottom: 25px;
    display: inline-flex;
    transition: .5s;
}

.tagline{
    text-align: center;
    margin: 4px 15% auto 15%;
    opacity: 0;
    transition: .5s;
}

.project-details {
    transition: .5s;
    display: none;
    transform: translateY(200px);
}

.scrollable-area{
    position: "absolute";
    top: "0";
    left: "0";
    height: "100%";
    width: "100%";
    overflow: "scroll";
    scroll-padding: "100px 0 0 100px";
    -ms-overflow-style: "none";
    scrollbar-width: "none";
}
@keyframes infinite-bob {
    0% {
        transform:translateY(5%)
    }
    50% {
        transform:translateY(2.5%)
    }
    100% {
        transform:translateY(5%)
    }
}